*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-in-out;
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.animate-clockwise-spin {
  animation: clockwise-spin 1s linear infinite;
}

.animate-counter-clockwise-spin {
  animation: counter-clockwise-spin 1s linear infinite;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframs fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes couresultsContainernter-clockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
