.background {
  background-color: #d0f0d1;
  background-image: linear-gradient(0deg, #d0f0d1 20%, #f9f7f3 80%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.imageContaier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px;
  box-shadow: #002d20 0px 0px 2px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer button {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  margin: 30px;
  padding: 10px;
  background-color: #002d20;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.signupText {
  font-size: 15px;
  text-decoration: none;
}

.signupLink {
  font-size: 15px;
  color: #228dd5;
  cursor: pointer;
}

.forgotText {
  font-size: 15px;
  color: #228dd5;
  cursor: pointer;
  margin-top: 50px;
  text-decoration: none;
}

.banner {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo {
  width: 70px;
  margin-right: 10px;
}

.logoText {
  font-size: 28px;
  font-weight: bold;
}