.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  background-color: rgb(253, 253, 253);
  border: #f9f9f9 1px solid;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}
.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
  height: auto;
}
.infoDivider {
  display: flex;
  align-items: center;
  gap: 12px;
}

.settingsButtonContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f4fff3; */
  color: #30542f;
  font-weight: bold;
  padding: 12px 16px;
  gap: 4px;
  margin-left: auto;
  text-decoration: none;
  /* border: #cbdeca17 1px solid; */
}

.followerContainer {
  padding-left: 12px;
  margin-left: 12px;
  border-left: #dadada 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  gap: 24px;
  height: auto;
}
.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.username {
  font-size: 24px;
  font-weight: bold;
}
.email {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}
.biography {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  margin-top: 16px;
}
.postPartContainer {
  margin-top: 3rem;
}
.myPostsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.postCard {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.postImage {
  max-width: 100%;
}
.followers,
.following {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  gap: 4px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .avatarContainer {
    margin-right: 0;
  }
  .myPostsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .myPostsContainer {
    grid-template-columns: 1fr;
  }
}
