.homePage{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.posts{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
}
.sortButtons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.sortButton {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sortButton.active {
    background-color: #007bff; /* Change this to your active color */
    color: white; /* Text color for active button */
}

.sortButton:hover {
    background-color: #e7e7e7; /* Light grey on hover */
}

.feedContainer {
    margin: 20px;
    width: 90%;
}

.filterButtons {
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    margin-top: 16px;
    background-color: white;
    border-radius: 20px;
    
}

.filterButton {
    width: 15vw;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 20px;
    color: #5d5fef;
    font-weight: bold;
    
}

.filterButton:hover {
    background-color: #e0e0e0;
}

.active {
    background-color: #c7d2fe;
    color: #5d5fef;
    border-color: #5d5fef;
    font-weight: bold;
}