.postGeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.postContainer {
    flex: 1;
    align-items: center;
    margin: 20px;
    max-width: 75%;
}

.postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.newCommentSection {
    margin: 20px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newCommentInput {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.newCommentButton {
    padding: 10px 20px;
    background-color: #5d5fef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newCommentButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.commentsSection {
    margin-top: 20px;
}

.annotationContainer {
    display: flex;
    flex-direction: column; /* Ensure the annotations stack vertically */
    align-items: flex-start; /* Align items to the start horizontally */
    justify-content: flex-start; /* Align items to the top vertically */
    margin: 20px 0;
    width: 25%;
    height: auto; /* Adjust height based on the content */
}

