/* 
      <div className="container">
        <div className="leftContainer">
          <img  src={post.image} alt="post" />
          <div className="actionsContainer">
            <div className="action">
              <IconThumbUp size={24} />
              <span>{post.likes}</span>
            </div>
            <div className="action">
              <IconThumbDown size={24} />
              <span>{post.dislikes}</span>
            </div>
            <div className="action">
              <IconMessageCircle size={24} />
              <span>{post.comments}</span>
            </div>
            <div className="action">
              <IconBookmark size={24} />
            </div>
            <div className="action">
              <IconFlag size={24} />
            </div>
          </div>
        </div>
        <div className="commentsContainer">
          <div className="comments">
            <div className="comment">
              <div className="avatarContainer">
                <img src={post.owner.avatar} alt="avatar" />
              </div>
              <div className="commentContent">
                <div className="username">{post.owner.username}</div>
                <div className="commentText">{post.description}</div>
              </div>
            </div>
          </div>
        </div>
      </div> */

.container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: auto;
  max-height: 80vh;
}

.postImage {
  max-width: 100%;
  height: auto;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 20px;
}
.actionsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.commentsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 20px;
  overflow: auto;
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.caption {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 10px;
}

.postOwnerAvatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.commentContent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.username {
  font-size: 16px;
  font-weight: bold;
}
.commentText {
  font-size: 14px;
}
