.comment {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width: 60%;
}

.commentUserDetails {
    font-weight: bold;
    margin-bottom: 5px;
}

.commentHeader {
    font-size: 20px;
}

.commentHeader h5 {
    margin: 2px;
}

.commentHeader span {
    font-size: 14px;
    color: #666;
}

.commentText {
    font-size: 20px;
    margin: 5px 0;
    color: #333;
}
.deleteButton {
    position: relative  ;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.deleteButton:hover {
    color: darkred;
}

.replyButton {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.replyButton:hover {
    text-decoration: underline;
}

.replyBox {
    margin-top: 10px;
}

.replyInput {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submitReplyButton {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitReplyButton:hover {
    background-color: #0056b3;
}

.nestedComments {
    border-left: 2px solid #ddd;
    padding-left: 10px;
}

.annotationSymbol {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .annotationSymbol button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .annotationInputContainer {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .annotationInput {
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .annotationButton {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .annotationButton:hover {
    background-color: #0056b3;
  }

  .highlighted {
    background-color: #ffdea9; /* Highlight background */
    color: black; /* Ensure text is readable */
    font-weight: bold; /* Optional: Emphasize text */
    padding: 4px 6px;
    border-radius: 6px;
  }

