.comment {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width: 60%;
}

.commentUserDetails {
    font-weight: bold;
    margin-bottom: 5px;
}

.commentHeader {
    font-size: 20px;
}

.commentHeader h5 {
    margin: 2px;
}

.commentHeader span {
    font-size: 14px;
    color: #666;
}

.commentText {
    font-size: 20px;
    margin: 5px 0;
    color: #333;
}
.deleteButton {
    position: relative  ;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.deleteButton:hover {
    color: darkred;
}

.replyButton {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.replyButton:hover {
    text-decoration: underline;
}

.replyBox {
    margin-top: 10px;
}

.replyInput {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submitReplyButton {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitReplyButton:hover {
    background-color: #0056b3;
}

.nestedComments {
    border-left: 2px solid #ddd;
    padding-left: 10px;
}


