.post {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(199, 210, 254, 255);
  width: 80%;
  margin: 6px auto;
}

.userAndTag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px;
  padding-top: 10px;
  align-items: center;
}

.postTag {
  background-color: #d7fee7;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 25px;
  margin-top: 15px;
  height: max-content;
}

.postTag p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4e8d71;
  font-weight: bold;
}

.postHeaderTag {
  background-color: #d7fee7;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 25px;
  margin-top: 15px;
  height: max-content;
}

.postHeaderTag p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4e8d71;
  font-weight: bold;
}
.subforumName {
  font-weight: bold;
  color: #5d5fef; /* Theme color for subforum name */
  margin-left: 5px;
}
.subforumLink {
  text-decoration: none;
}
.subforumLink:hover {
  text-decoration: underline;
}
.tagLink {
  text-decoration: none;
  color: #4e8d71;
}
.tagLink:hover {
  text-decoration: underline;
}

.userDetailsContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
  height: 30px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-left: 10px;
}
.userDetails h3 {
  margin: 0;
}
.userDetails p {
  margin: 0;
  font-size: 14px;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.postDetails {
  padding-top: 15px;
  margin: 10px;
}

.postDetails h2 {
  margin-left: 15px;
}
.postDetails p {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content:end;
  padding-right: 10px;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.action {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

.action p {
  margin-right: 5px;
  font-size: 16px;
  color: grey;
}

.action button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.activeLike {
  color: #007bff; /* Blue for like */
}

.activeDislike {
  color: #dc3545; /* Red for dislike */
}

.postImageContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}


.annotationSymbol {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.annotationSymbol button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.annotationInputContainer {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.annotationInput {
  width: 90%;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.annotationButton {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.annotationButton:hover {
  background-color: #0056b3;
}

.highlighted {
  background-color: #ffdea9; /* Highlight background */
  color: black; /* Ensure text is readable */
  font-weight: bold; /* Optional: Emphasize text */
  padding: 4px 6px;
  border-radius: 6px;
}
