.postHeader {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(199, 210, 254, 255);
  width: 100%;
  margin: 6px auto;
}

.userAndTag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px;
  padding-top: 10px;
  align-items: center;
}

.postHeaderTag {
  background-color: #d7fee7;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 25px;
  margin-top: 15px;
  height: max-content;
}

.postHeaderTag p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4e8d71;
  font-weight: bold;
}
.subforumName {
  font-weight: bold;
  color: #5d5fef; /* Theme color for subforum name */
  margin-left: 5px;
}
.tagLink {
  color: #4e8d71;
  text-decoration: none;
}
.tagLink:hover {
  text-decoration: underline;
}
.subforumLink {
  text-decoration: none;
}.subforumName:hover {
  text-decoration: underline;
}
.userDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center; /* Ensure avatar and text align vertically */
  margin: 5px;
}

.userDetailsLink {
  display: flex;
  align-items: center; /* Align the avatar and text */
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Keep text color consistent */
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userDetails {
  display: flex;
  flex-direction: column;
  padding-left: 10px; /* Add spacing between avatar and text */
}

.userDetails h3 {
  margin: 0;
  font-size: 16px; /* Ensure a consistent font size */
}

.userDetails p {
  margin: 0;
  font-size: 14px;
  color: #555; /* Subtle color for username */
}

.postHeaderDetails {
  padding-top: 15px;
  margin: 10px;
}

.postHeaderDetails h2 {
  margin-left: 15px;
  margin-top: 0; /* Ensure no top margin */
}

.postHeaderDetails p {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px;
}

.viewStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.viewStats p {
  margin-right: 5px;
  font-size: 14px;
  color: grey;
}

.commentLikeDislikeStats {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align icons and text */
  margin: 0 10px;
}

.stat p {
  margin-right: 5px;
  font-size: 14px;
  color: grey;
}

.postLink {
  text-decoration: none;
  color: black;
}

.postImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postImage {
  width: 30%;
  align-self: center;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

.userDetails h3 a, 
.userDetails p a {
  text-decoration: none; 
  color: inherit; 
}

.userDetails h3 a:visited, 
.userDetails p a:visited {
  color: inherit; 
}
